{% extends "polls/base.html" %}

{% block content %}
<div class="background-image">
  <p class="highlight">Detail view</p>

<form action="{% url 'polls:vote' question.id %}" method="post">
{% csrf_token %}
  <fieldset>
    <legend class="text-box"><h2>{{question.question_text}}</h2></legend>

    {% if error_message %}
      <p>{{ error_message }}</p>
    {% endif %}

    {% for choice in question.choice_set.all %}
      <input type="radio" id="{{choice.id}}" name="choice" value={{choice.id}}>
      <label class="text-box" for="choice{{choice.id}}">{{choice.choice_text}}</label><br>
    {% endfor %}  

    <input type="submit" value="Vote">
		<a class="btn-close text-box" href="{% url 'polls:index'%}">Cancel</a>
  </fieldset>
</form>
</div>
{% endblock content %}



<!--
<form action="{% url 'polls:vote' question.id %}" method="post">
{% csrf_token %}
<fieldset>
    <legend><h1>{{ question.question_text }}</h1></legend>
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
    {% for choice in question.choice_set.all %}
        <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
        <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
    {% endfor %}
</fieldset>
<input type="submit" value="Vote">
</form>
-->