{% extends "polls/base.html" %}

{% load bootstrap4 %}

{% block page_header %}
<div class="card-header d-flex align-items-center">
  <span class="m-0 ml">
    <a href="{% url 'polls:topics' %}">Back</a>
	</span> 
  <span class="m-0 mx-auto">
	  <h5><p>Add Poll:</p></h5>
	</span>    
</div>

{% endblock page_header %}

{% block content %}

<form action="{% url 'polls:new_topic' %}" method='post'>
  {% csrf_token %}
  {% bootstrap_form form %}
  {% buttons %}  
  <button type="submit" class="btn btn-primary">Add Poll</button>
  {% endbuttons %}
</form>
{% endblock content %}

